In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

reviewlist = []

url = 'https://www.amazon.in/Apple-iPhone-4S-Black-16GB/product-reviews/B00CL8XCE0/ref=cm_cr_getr_d_paging_btm_prev_1?reviewerType=all_reviews&pageNumber=1'

def get_soup(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    return soup


def get_reviews(soup):
    reviews = soup.find_all('div', {'data-hook': 'review'})
    try:
        for item in reviews:
            review = {
            'Reviews': item.find('span', {'data-hook': 'review-body'}).text.strip()
            }
            reviewlist.append(review)
    except:
        pass

for x in range(1,999):
    soup = get_soup(f'https://www.amazon.in/Apple-iPhone-4S-Black-16GB/product-reviews/B00CL8XCE0/ref=cm_cr_getr_d_paging_btm_prev_1?reviewerType=all_reviews&pageNumber={x}')
    print(f'Getting page: {x}')
    get_reviews(soup)
    print(len(reviewlist))
    if not soup.find('li', {'class': 'a-disabled a-last'}):
        pass
    else:
        break

df = pd.DataFrame(reviewlist)
df.to_csv('amazon_review.csv', index=False)

Getting page: 1
10
Getting page: 2
16

In [12]:
amazon_1 = pd.read_csv('amazon_review.csv')
amazon_1

                                              Reviews
0                                                 Bad
1                             Charger not working...üò´
2                    one of the speaker doesn't works
3   The piece i got is Worst piece and it is refur...
4   awesome phone with really great look and perfo...
5   I bought an apple 4s 16gb, but this product is...
6   You also can work in 2021 but just need small ...
7   it have a very very good camera quality it has...
8   I have been using this phone for more than a y...
9   Excellent product by Apple and no model can be...
10  I bought it in Aug and within a month it has s...
11                                            Awesome
12                                        I loved itüëç
13  very good phone and  i am loving it... its the...
14  I liked 4s better than 5/5s. I had all 3 and p...
15  If you're looking for high speed 4G/LTE featur...

In [3]:
reviewlist2 = []

url = 'https://www.amazon.in/Apple-iPhone-4S-White-8GB/product-reviews/B00GFGKC92/ref=cm_cr_getr_d_paging_btm_prev_1?pageNumber=1'

def get_soup(url):
    r = requests.get(url)
    soup = BeautifulSoup(r.text, 'html.parser')
    return soup


def get_reviews(soup):
    reviews = soup.find_all('div', {'data-hook': 'review'})
    try:
        for item in reviews:
            review = {
            'Reviews': item.find('span', {'data-hook': 'review-body'}).text.strip()
            }
            reviewlist2.append(review)
    except:
        pass

for x in range(1,2000):
    soup = get_soup(f'https://www.amazon.in/Apple-iPhone-4S-White-8GB/product-reviews/B00GFGKC92/ref=cm_cr_getr_d_paging_btm_prev_1?pageNumber={x}')
    print(f'Getting page: {x}')
    get_reviews(soup)
    print(len(reviewlist2))
    if not soup.find('li', {'class': 'a-disabled a-last'}):
        pass
    else:
        break

df = pd.DataFrame(reviewlist2)
df.to_csv('amazon_review_2.csv', index=False)

Getting page: 1
10
Getting page: 2
20
Getting page: 3
30
Getting page: 4
30
Getting page: 5
30
Getting page: 6
40
Getting page: 7
50
Getting page: 8
60
Getting page: 9
60
Getting page: 10
70
Getting page: 11
70
Getting page: 12
80
Getting page: 13
90
Getting page: 14
90
Getting page: 15
100
Getting page: 16
110
Getting page: 17
120
Getting page: 18
130
Getting page: 19
140
Getting page: 20
150
Getting page: 21
160
Getting page: 22
170
Getting page: 23
170
Getting page: 24
180
Getting page: 25
180
Getting page: 26
190
Getting page: 27
200
Getting page: 28
200
Getting page: 29
200
Getting page: 30
210
Getting page: 31
220
Getting page: 32
230
Getting page: 33
230
Getting page: 34
240
Getting page: 35
250
Getting page: 36
250
Getting page: 37
260
Getting page: 38
260
Getting page: 39
270
Getting page: 40
270
Getting page: 41
270
Getting page: 42
280
Getting page: 43
290
Getting page: 44
290
Getting page: 45
290
Getting page: 46
300
Getting page: 47
310
Getting page: 48
310
Getting page: 49
310
Getting page: 50
310
Getting page: 51
310
Getting page: 52
320
Getting page: 53
330
Getting page: 54
340
Getting page: 55
350
Getting page: 56
360
Getting page: 57
370
Getting page: 58
380
Getting page: 59
390
Getting page: 60
390
Getting page: 61
400
Getting page: 62
410
Getting page: 63
420
Getting page: 64
420
Getting page: 65
430
Getting page: 66
440
Getting page: 67
450
Getting page: 68
450
Getting page: 69
460
Getting page: 70
470
Getting page: 71
480
Getting page: 72
490
Getting page: 73
500
Getting page: 74
500
Getting page: 75
500
Getting page: 76
510
Getting page: 77
520
Getting page: 78
520
Getting page: 79
530
Getting page: 80
540
Getting page: 81
540
Getting page: 82
540
Getting page: 83
550
Getting page: 84
560
Getting page: 85
570
Getting page: 86
580
Getting page: 87
580
Getting page: 88
590
Getting page: 89
600
Getting page: 90
610
Getting page: 91
610
Getting page: 92
620
Getting page: 93
620
Getting page: 94
630
Getting page: 95
630
Getting page: 96
640
Getting page: 97
640
Getting page: 98
640
Getting page: 99
640
Getting page: 100
650
Getting page: 101
650
Getting page: 102
660
Getting page: 103
670
Getting page: 104
680
Getting page: 105
690
Getting page: 106
700
Getting page: 107
710
Getting page: 108
710
Getting page: 109
720
Getting page: 110
730
Getting page: 111
740
Getting page: 112
750
Getting page: 113
760
Getting page: 114
760
Getting page: 115
770
Getting page: 116
780
Getting page: 117
780
Getting page: 118
790
Getting page: 119
800
Getting page: 120
800
Getting page: 121
810
Getting page: 122
820
Getting page: 123
824

In [13]:
amazon_2 = pd.read_csv('amazon_review_2.csv')
amazon_2

                                               Reviews
0    If to say in a nutshell, product is MORE THAN ...
1    Ordered this product on 8th of July and I rece...
2    Pros : touch is great, phone response time is ...
3    Buy, if your Budget is below 13K.I am using th...
4    This phone has problems with the signal recept...
..                                                 ...
819                               My daughter loves it
820                                        Exelent !!!
821                                             Thanls
822  Bad quality and servise .I m happy I found my ...
823                                        outstanding

[824 rows x 1 columns]

In [14]:
influenster = pd.read_csv('influenster.csv')
influenster

                                                Reviews
0     PROS\n\nStill the slickest smartphone experien...
1     So much storage and i can get a lot of apps an...
2     One of the best in the iphone series. Though a...
3     Apple is apple. It doesn't need any review to ...
4     The body design is everything. It has my money...
...                                                 ...
4685  The camera has good quality! I love that the b...
4686  I love this phone!!! The only thing I hate abo...
4687  I used to have this phone until i gave it to a...
4688  I love this phone I loved the style of it neve...
4689  Like the battery life like thats its easy to u...

[4690 rows x 1 columns]

In [15]:
gadgets = pd.read_csv('gadgets360.csv')
gadgets

                                                Reviews
0     The iPhone 4s what definitely Apple's most bri...
1     The brand says it all. \nNice phone with lots ...
2     only product available in market after being l...
3     The iPhone 4S is a good-looking piece of kit. ...
4     This is one of the excellent old goodies !!!!!...
...                                                 ...
1251  don't ever buy this iPhone 4s. very much disap...
1252                                     Camera problem
1253  flipkart cheated it's customer spoiling brand ...
1254                             Got a tempered product
1255                                           Very bad

[1256 rows x 1 columns]

In [16]:
gsmarena = pd.read_csv('gsmarena.csv')
gsmarena

                                                 Reviews
0      i always use it until it has 0% battery left, ...
1      Guys I'm planning to buy which is better iphon...
2      Well, it may be expensive but this phone is st...
3      I know! I don't really like the fact that ever...
4      Best iPhone ever made. Just wish Steve Jobs wo...
...                                                  ...
12580  no excitement for iphone users! only  \n2x CPU...
12581                                      Thumbs Up! :)
12582                           Too early to say Hello!!
12583  Yes, the same great design! I love it :) \nSpe...
12584                     Hi \nwhat's new in this phone?

[12585 rows x 1 columns]

In [28]:
iphone = pd.concat([amazon_1,amazon_2,influenster,gadgets,gsmarena], ignore_index=True)

In [29]:
iphone.head()

                                             Reviews
0                                                Bad
1                            Charger not working...üò´
2                   one of the speaker doesn't works
3  The piece i got is Worst piece and it is refur...
4  awesome phone with really great look and perfo...

In [30]:
iphone.size

19371

In [31]:
iphone.sample(10)

                                                 Reviews
6722   I have purchased it when prices dropped and se...
17705  Those of you who hate without a justification ...
8071   Hi, does anyone have been upgraded this device...
9825   iPhone 4S is a nice phone. user friendly, no l...
16341             Yes sorrounded by an ugly plastic case
15162                                                Yes
238                                           Nice price
16067    WOW really new technology, from one century ago
10217                Havent try yet. But,it should work.
2955   While it was contemporary, it was a great phon...

In [33]:
iphone.to_csv('iPhone_4s_reviews_data.csv',index=False)